body{
  background-color:#FFDDE2; 
  margin:0;
  padding:0;
  box-sizing: border-box;
}

p{
  margin:0px;
}

.text{
  padding-top:10px;
  margin-top:8px;
  margin-bottom: 20px;
}

.header{
  justify-content:center;
  height:50px;
  background-color: rgb(255,221,226);
  color:black;
  align-content: center;
  text-align:center;
  font-size:17px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}

.logo{
  height:75px;
  display: flex;
  background-color: #FF8BA0;
  text-align:center;
  justify-content: center;
}

.bliss{
  font-size:35px;
  font-family:fantasy;
  letter-spacing:5px;
  padding:15px 15px;
  color:white;
  text-shadow:1px 1px 4px rgb(255,221,226);
}

#container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  padding-top:20px;
}


#button{
  margin-bottom:265px;
  margin-left:6px;
  border-radius:2px;
  height:20px;
  width:105px;
  background-color: #FF8BA0;
  color:white;
  border:1px solid #FF8BA0;
  width:110px;
  font-weight: bold;
  font-size:14px;
  position: absolute;
}

#button-2{
  margin-bottom:255px;
  margin-left:190px;
  border-radius:10px;
  height:30px;
  width:105px;
  background-color:#ffffff;
  border:1px solid #FF8BA0;
  width:100px;
  font-weight: bold;
  font-size:14px;
  position: absolute;
  color:#FF8BA0;

}
.button-2:hover{
  box-shadow:6px 6px 6px  #FF7084;
}
.button-sale:hover{
  box-shadow:10px 10px 10px #FF7084;
}
.button-gift:hover{
  box-shadow:10px 10px 10px#FF7084;
}
.button:hover{
  box-shadow:10px 10px 10px #FF7084;
}



#text{
  position:absolute;
  color:black;
  font-size:15px;
  margin-top:220px;
  margin-left:4px;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button-sale{
  font-size:14px;
  color:red;
  width: 105px;
  height:30px;
  border-radius:15px; 
  border:2px solid red;
  background-color: white;
  
}


.button-gift{
  font-size:16x;
  width: 150px;
  height:30px;
  border-radius:15px; 
  border: 2px solid pink;
  background-color: white;
}

.button-2{
  font-size:14px;
  width: 105px;
  height:30px;
  border-radius:15px; 
  border: 2px solid pink;
  background-color:white;
}

.container-2{
  display: flex;
  justify-content: center;
  gap:20px;
  margin: 8px;
  border-bottom: 2px solid lightpink;
  height:40px;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.button{
  font-size:14px;
  width: 105px;
  height:30px;
  border-radius:15px; 
  border: 2px solid pink;
  background-color: white;
  
}

.button-sale{
  font-size:14px;
  color:red;
  width: 105px;
  height:30px;
  border-radius:15px; 
  border:2px solid red;
  background-color: white;
}


.button-gift{
  font-size:14x;
  width: 150px;
  height:30px;
  border-radius:15px; 
  border: 2px solid pink;
  background-color: white;
}

.button-1 ,.button-bs{
  font-size:14px;
  width: 115px;
  height:30px;
  border-radius:15px; 
  border: 2px solid pink;
  background-color:white;
  box-shadow:10px 10px 10px #FF7084;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}
  .content {
    flex-grow: 1;
}

.footer {
    background-color: #ff8ca4;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}
.footer-links {
  margin-bottom: 20px;
}
.footer-link {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
.footer-link:hover {
  text-decoration: underline;
}

.gallery {
  display: flex; 
  flex-wrap: wrap; 
  gap: 10px; 
  align-items:center; 
  max-width: 1200px; 
  margin-top:60px; 
  position: relative;
  background-color: #FFDDE2;
  border-radius: 10px;
  margin:5px;
}

.photo {
  flex: 0 0 20%; 
  max-width: 45%; 
  background-color: #FFDDE2;
  border-radius: 9px;
  overflow: hidden;
  text-align: center;
  padding: 20px;
}


.photo img {
  width: 100%; 
  height:auto; 
  border-radius: 10px;
  width: 200x;
  height: 200px;
}

.footer {
  background-color:#ff8ca4;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
}
.footer-links {
margin-bottom: 20px;
}
.footer-link {
color: white;
text-decoration: none;
margin: 0 10px;
}
.footer-link:hover {
text-decoration: underline;
}
@media screen and (max-width: 767px){
  .container-2 {
    flex-direction: column;
    align-items: center;
    flex-wrap:wrap;
    height:70px;
    gap:10px;
    width:100%;


  }
  .button-2{
    width:80%;
  }
  
  .button, .button-sale,.button-1  {
    width:100px;

  }
  .button-gift{
    width:115px;
    padding-top:0px;
    font-size:12px;
  }
  #container{
   
    flex-direction: column;
    align-items: center;
    
  }
  #produktet {
    width: 60%;
    
  }
}
@media screen and (max-width: 480px) {
  
  
  .container-2 {
    flex-direction: column;
    align-items: center;
    flex-wrap:wrap;
    height:120px;
    gap:7px;
    width:100%;
    


  }
  .button, .button-sale,.button-1  {
    width:100px;

  }
  .button-2{
    width:60%;
    margin-left:4px;
  }
  .button-gift{
    width:115px;
    padding-top:2px;
  }
  #container {
    flex-direction: column;
    align-items: center;
    
  }
  #produktet {
    width: 70%;
  }
}